#classSelection {
	margin: 0;
    padding: 0;
	float:left;
	width: 125px;
	height: 373px;
	border-width:1px; 
	border-radius:1px; 
	border-style:solid; 
	border-color:rgba(0, 0, 0, 1); 
	background-color:rgba(0, 0, 0, 0.6);
}
#classTable {
	padding:0px;  
	width:100%;
}

.classButton:hover {
	color: white;
}
.className {
    font-style: italic;
}
#buildSelection {
	margin-left: 150px;
}

#newBuildLink {
	text-align: right;
}

.modifyBuildColumn {
	float: right;
	text-align: right;
}

.deleteBuild:hover {
	color: red !important;
}
#buildList {
	width:100%;
}

#buildList td:hover {
	color: white;
}

.alternateRows tr:nth-child(odd) {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.2)));
}



.gameModeDisplay {
	float: right;
	font-style: italic;
}