html {
	overflow: hidden;
	height: 100%;
	width: 100%;
	color: #bdbec1;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

#topBar {
	width:100%;
	height: 25px;
	vertical-align: middle;
	position: absolute;
	top: 0px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#450701), to(#300501));
	margin:0;
	margin-left: 0;
	padding:0;
}

#topBarTable {
	width:100%;
	text-align: right;
	margin:0;
	padding:0;
}

#classNameSlot {
	text-align: left;
}

#appIcon {
	text-align: left;
}

#content {
	margin:0;
	padding: 0;
	/* background: #2E2219; */
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/guildwars2-25.jpg");
	background-size: cover;
	position: absolute;
	margin-top: 25px;
	width: 100%;
	height: 375px;
}


.lightBtn {
  background: #fae5b1;
  background-image: -webkit-linear-gradient(top, #fae5b1, #e6cb8d);
  background-image: -moz-linear-gradient(top, #fae5b1, #e6cb8d);
  background-image: -ms-linear-gradient(top, #fae5b1, #e6cb8d);
  background-image: -o-linear-gradient(top, #fae5b1, #e6cb8d);
  background-image: linear-gradient(to bottom, #fae5b1, #e6cb8d);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #000000;
  font-size: 12px;
  padding: 5px;
  border: solid #121009 1px;
  text-decoration: none;
}

.lightBtn:hover {
  background: #faeccd;
  background-image: -webkit-linear-gradient(top, #faeccd, #e0d5ba);
  background-image: -moz-linear-gradient(top, #faeccd, #e0d5ba);
  background-image: -ms-linear-gradient(top, #faeccd, #e0d5ba);
  background-image: -o-linear-gradient(top, #faeccd, #e0d5ba);
  background-image: linear-gradient(to bottom, #faeccd, #e0d5ba);
  text-decoration: none;
}

.inactiveButton {
  background-color: #565656;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #000000;
  font-size: 12px;
  padding: 5px;
  border: solid #121009 1px;
  text-decoration: none;
}

.inputText { 
	padding:3px; 
	font-size:12px; 
	border-width:1px; 
	border-radius:2px; 
	border-style:solid; 
	border-color:#000000; 
	background-color:rgba(0, 0, 0, 0.7); 
	color:#ffffff;  
	font-family: Tahoma, Verdana, Segoe, sans-serif;
} 
.inputText:focus { 
	outline:none; 
}

.inputSelection { 
	padding:2px; 
	font-size:12px; 
	border-width:1px; 
	border-radius:1px; 
	border-style:solid; 
	border-color:rgba(255, 255, 255, 0.3); 
	background-color:rgba(0, 0, 0, 0.7); 
	color:#ffffff;  
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}


.inputSelectionInactive { 
	pointer-events: none;
	cursor: default;
	background-color: #363636 !important;
}	
.emphasis {
	font-family: Georgia, Times, “Times New Roman”, serif;
	color: #FFFFFF;
	font-size: 15px;
	padding: 5;
	font-weight: bold;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.51);
}

.tinyText {
	font-size:10px;
}

.activeIcon {
	color: #bdbec1;
}

.activeIcon:hover {
	color: white;
}

#buildDetails {
	width: 100%;
	height: 25px;
}
#buildDetails .inputText{
	width: 25%;
}
#gameMode {
	float: right;
}
#buildEditor  {
	margin-left: 90px;
}
#comingSoon {
	margin-left: 90px;
}
#navColumn {
	text-align: center;
	margin: 0;
    padding: 0;
	float:left;
	width: 80px;
	height: 375px;
	border-width:1px; 
	border-radius:1px; 
	border-style:solid; 
	border-color:rgba(0, 0, 0, 1); 
	background-color:rgba(0, 0, 0, 0.6);
}

#navColumn tr:hover {
	color: white;
}
#navTable {
	width:100%;
	height:100%;
}

.activeSpan:hover {
	color: white;
}