<div id="classSelection">
	<table id = "classTable">
			<tr><td> 
				<input type="button" class="classButton" id="warriorButton" value="Warrior"/>
			</td></tr>
			<tr><td> 
				<input type="button" class="classButton" id="guardianButton" value="Guardian"/>
			</td></tr>
			<tr><td> 
				<input type="button" class="classButton" id="engineerButton" value="Engineer"/>
			</td></tr>
			<tr><td> 
				<input type="button" class="classButton" id="rangerButton" value="Ranger"/>
			</td></tr>
			<tr><td> 
				<input type="button" class="classButton" id="thiefButton" value="Thief"/>
			</td></tr>
			<tr><td> 
				<input type="button" class="classButton" id="elementalistButton" value="Elementalist"/>
			</td></tr>
			<tr><td> 
				<input type="button" class="classButton" id="necromancerButton" value="Necromancer"/>
			</td></tr>
			<tr><td> 
				<input type="button" class="classButton" id="mesmerButton" value="Mesmer"/>
			</td></tr>
	</table>
</div>

<div id="buildList">
	<table id="buildList">
	</table>
</div>